/*Tạo khung cho giao diện*/
*{font-family:Times New Roman,sans-serif;margin:0px;padding:0px}
body {
    background:#efeeee;
}

#mainWap { /*Khung chính*/
    width: 1000px;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid white;
}
#header {
    margin-bottom: 5px;
    height: 150px;
    border: 1px solid #ffffff;
}
.logo {
    float: left;
    width: 298px;
    border: 1px solid #ffffff;
    height: 180px;
}
.banner {
    float: left;
    width: 696px;
    border: 1px solid #ffffff;
    height: 180px;
}
.right {
    float: left;
    width: 793px;
    margin-left:5px;
    height: 450px;
    border: 1px solid #000000;
}
.clr{
    clear:both;
}
.footer{
    margin-top:5px;
    border:1px solid #ffffff;
    height:200px;
}